<main class="registration-page">
    <div style="text-align: center; margin-bottom: 40px;">
        <h2 id="header-registration">Регистрация</h2>
    </div>
    <form id="form-registration" [formGroup]="form" (ngSubmit)="onSubmit('div.label-checkbox')">
        @for (labelInput of labelsInputs; track labelInput.id) {
            <div class="password-container">
                <input [formControlName]="labelInput.id" class="input-reg" [type]="labelInput.type_i" [placeholder]="labelInput.placeholder">
                <div [id]="labelInput.id + '-error'" class="error-message"></div>
                @if (labelInput.type_i === "password") {
                    <div class="show-password" (click)="showPassword(labelInput.id + '-error')">
                      <img ngSrc="/home/eye.png" alt="show password" fill>
                    </div>
                }
            </div>
        }
        <div class="label-checkbox" style="display: flex; align-items: center; gap: 8px;">
            <input type="checkbox" id="terms">
            <label for="terms" style="font-size: 14px; color: #666;">
                С <a href="#" style="color: #d3192a; text-decoration: none;">правилами сервиса</a> ознакомлен и согласен.
            </label>
        </div>
        <div id="header-error" class="error-message"></div>
        <button id="registration-button" type="submit">
            Зарегистрироваться
        </button>
    </form>
    <div style="text-align: center; margin-top: 15px; font-size: 14px; color: #666;">
        Уже зарегистрированы? — <a routerLink="/change/login" style="color: #d3192a; text-decoration: none;">Войти</a>
    </div>
</main>
